<h1>Edited item: <%= @item.name %></h1>

<p>
  Congrats! The item <%= @item.name %> has been created in the amount of <%= item.quantity %> Derek thinks says you deserve an Orange Mocha Frappuccino!
</p>

<li><a href='/students'>Back to list of students</a></li>
