<h1>Create Item</h1>

<form action="/splat/create" method="post">

  <input type="text" name="name" placeholder="Item Name???">
  <input type="text" name="quantity" placeholder="quantity">
  <button type="submit" name="button">Create Item</button>
</form>
